Source: cw1-6005-ks3g11
Section: misc
Priority: extra
Maintainer: kadhambari subramanian <ks3g11@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://github.com/info6005/6005_cw1_2012
#Vcs-Git: git@github.com:kadhambari/cw1-6005-ks3g11.git
#Vcs-Git: git://git.debian.org/collab-maint/cw1-6005-ks3g11.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cw1-6005-ks3g11.git;a=summary

Package: cw1-6005-ks3g11
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, php5-cli
Description: <course work>
 <welcome to info 6005 coursework>
